<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conclusions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/conclusion_page.css') }}">
    <!--<link href="conclusion_page.css" rel="stylesheet" type="text/css">-->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>

<nav id="navBar" class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <form action='/' btnLogoutmethod='GET'>
            <input class="btn btn-primary" type="submit" id="btnHome" name="btnHome" value="Home">
        </form>
      </li>
      <li class="nav-item">
        <form action='logout' btnLogoutmethod='GET'>
            <input class="btn btn-primary" type="submit" id="btnLogout" name="button" value="Log out">
        </form>
      </li>
    </ul>
  </div>
</nav>

    <div id="title" class="d-flex justify-content-center">Dominant feelings</div>
<!--    <div id="userName" class="d-flex justify-content-center">{{userName}}</div>-->

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div id="page-content2" class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-3">
                    <div class="card">
                        <div class="card-body" style="height: 380px;">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div> <canvas id="chart-line" class="chartjs-render-monitor" style="display: block;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="d-flex" id="suicidalDiv">
    <div id="suicidalTag"></div>
<!--    <div class="b4-test">-->
<!--      <progress id="suicidalProgress" class="progress" max="100"></progress>-->
<!--    </div>-->
      <div id="suicidalN"></div>
  </div>
  <div class="d-flex" id="anxietyDiv">
      <div id="anxietyTag"></div>
<!--    <div class="b4-test">-->
<!--      <progress id="anxietyProgress" class="progress" max="100"></progress>-->
<!--    </div>-->
      <div id="anxietyN"></div>
  </div>
  <div class="d-flex" id="panicDiv">
      <div id="panicTag"></div>
<!--    <div class="b4-test">-->
<!--      <progress id="panicProgress" class="progress" max="100"></progress>-->
<!--    </div>-->
      <div id="panicN"></div>
  </div>

</div>




<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script>
    //var tagsHtml = document.getElementById("tags").innerText;
    //var tags = tagsHtml.split(/,| /);
    let tagsRaw = '{{tags}}';
    var tags = tagsRaw.split(/&#39;|,| /);
    let tempTagsRaw = '{{tempTags}}';
    var tempTags = tagsRaw.split(/&#39;|,| /);
    console.log(tags);
    $('#dropdownList li').on('click', function(){
        console.log($(this).text());
        if($(this).text() === "Live reviews")
            tags = tempTags;
        else
            tags = tagsRaw.split(/&#39;|,| /);
    });
    console.log(tags);

    let unique = [...new Set(tags)];
    let duplicates = unique.map(value => [value, tags.filter(str => str === value).length]);
    console.log(duplicates);
    duplicates.sort((a, b) => a[1].toString().localeCompare(b[1]));
    console.log(duplicates);

    var top1 = null,top2 = null, top3 = null, top4 = null, top5 = null, top6 = null, top7 = null/*, top8 = null, top9 = null, top10 = null*/;
    var nTop1 = 0, nTop2 = 0, nTop3 = 0, nTop4 = 0, nTop5 = 0, nTop6 = 0, nTop7 = 0/*, nTop8 = 0, nTop9 = 0, nTop10 = 0*/;
    for(let i = duplicates.length - 1; i >=0; i--) {

        if(top1 === null)
            if(duplicates[i][0] !== "" && duplicates[i][0] !== "[" && duplicates[i][0] !== "]")
                if(duplicates[i][0][0] === duplicates[i][0][0].toUpperCase())
                    {
                        top1 = duplicates[i][0];
                        nTop1 = duplicates[i][1];
                        i--;
                    }
        if(top2 === null)
            if(duplicates[i][0] !== "" && duplicates[i][0] !== "[" && duplicates[i][0] !== "]")
                if(duplicates[i][0][0] === duplicates[i][0][0].toUpperCase())
                    {
                        top2 = duplicates[i][0];
                        nTop2 = duplicates[i][1];
                        i--;
                    }
        if(top3 === null)
            if(duplicates[i][0] !== "" && duplicates[i][0] !== "[" && duplicates[i][0] !== "]")
                if(duplicates[i][0][0] === duplicates[i][0][0].toUpperCase())
                    {
                        top3 = duplicates[i][0];
                        nTop3 = duplicates[i][1];
                        i--;
                    }
        if(top4 === null)
            if(duplicates[i][0] !== "" && duplicates[i][0] !== "[" && duplicates[i][0] !== "]")
                if(duplicates[i][0][0] === duplicates[i][0][0].toUpperCase())
                    {
                        top4 = duplicates[i][0];
                        nTop4 = duplicates[i][1];
                        i--;
                    }
        if(top5 === null)
            if(duplicates[i][0] !== "" && duplicates[i][0] !== "[" && duplicates[i][0] !== "]")
                if(duplicates[i][0][0] === duplicates[i][0][0].toUpperCase())
                    {
                        top5 = duplicates[i][0];
                        nTop5 = duplicates[i][1];
                        i--;
                    }
    }
    if(top1 === "Low")
        top1 = "Low self esteem";
    if(top2 === "Low")
        top2 = "Low self esteem";
    if(top3 === "Low")
        top3 = "Low self esteem";
    if(top4 === "Low")
        top4 = "Low self esteem";
    if(top5 === "Low")
        top5 = "Low self esteem";
    if(top1 === "Substance")
        top1 = "Substance abuse";
    if(top2 === "Substance")
        top2 = "Substance abuse";
    if(top3 === "Substance")
        top3 = "Substance abuse";
    if(top4 === "Substance")
        top4 = "Substance abuse";
    if(top5 === "Substance")
        top5 = "Substance abuse";

    $(document).ready(function() {
        var ctx = $("#chart-line");
        var labels = [top1, top2, top3, top4, top5/*, top6, top7, top8, top9, top10*/];
        while(labels[labels.length-1] == null) {
          labels.pop(); // remove tailing null
        }
        var myLineChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    data: [nTop1, nTop2, nTop3, nTop4, nTop5/*, nTop6, nTop7, nTop8, nTop9, nTop10*/],
                    backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)"]
                }]
            },
            options: {
                title: {
                }
            }
        });
    });
    var suicidalN = 0, anxietyN = 0, panicN = 0;
    for(let i = 0; i < duplicates.length; i++) {
        if(duplicates[i][0].includes("Suicidal"))
            suicidalN = duplicates[i][1];
        if(duplicates[i][0].includes("Anxiety"))
            anxietyN = duplicates[i][1];
        if(duplicates[i][0].includes("Panic"))
            panicN = duplicates[i][1];

    }
    console.log(suicidalN, anxietyN, panicN);
    console.log('{{userType}}')
    if('{{userType}}' === "therapist")
        document.getElementById("suicidalTag").innerText = "Suicidal Behavior Score";
    //if('{{userType}}' === "user")
    else
        document.getElementById("suicidalTag").innerText = "Red Zone";

    // document.getElementById("suicidalProgress").value = suicidalN * 100;

    document.getElementById("anxietyTag").innerText = "Anxiety Score";
    // document.getElementById("anxietyProgress").value = anxietyN * 10;
    document.getElementById("panicTag").innerText = "Panic Score";
    // document.getElementById("panicProgress").value = panicN * 10;
    document.getElementById("suicidalN").innerText = suicidalN;
    document.getElementById("anxietyN").innerText = anxietyN;
    document.getElementById("panicN").innerText = panicN;




</script>



</body>



</html>