<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <nav id="navBar" class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div id="logo"></div>
          </li>
          <li class="nav-item">
            <form action='login' method='GET'>
                <input class="btn btn-primary" id="btnLogin" type="submit" name="btnLogin" value="Log in">
            </form>
          </li>
            <li class="nav-item">
            <form action='signup' method='GET'>
                <input class="btn btn-primary" id="btnSignup" type="submit" name="btnSignup" value="Sign up">
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div id="homeImage">
        <div class="d-flex justify-content-center" id="title">Fight the depression!</div>
    </div>
    <div id="fyst" class="d-flex justify-content-center">
        <div id="welcome">Welcome to </div>
        <div id="fystexpl">
            <div><div id="f">F</div> <div id="fextra">ree</div></div>
            <div id="ybig"><div id="y">Y</div> <div id="yextra">ourself from</div></div>
            <div><div id="s">S</div> <div id="sextra">truggle</div></div>
            <div><div id="t">T</div> <div id="textra">hrough</div></div>
            <div><div id="t2">T</div> <div id="t2extra">herapy</div></div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form action='chat' method='GET'>
            <input class="btn btn-primary" id="btnFree" type="submit" name="btnFree" value="Try the free version">
        </form>
    </div>
    <div id="description">
        <div>At FYSTT, not only do we provide free therapy to all kinds of people that</div>
        <div>need it, we also create a personalized reports paper for each person that </div>
        <div>uses the application. Our goal is to empower people to tell their story,</div>
        <div>to face their most destructive problems and to make a difference in their lives</div>
    </div>





</body>
</html>