<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/myMessage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

<nav id="navBar" class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div id="logo"></div>
          </li>
          <li class="nav-item">
            <form action='login' method='GET'>
                <input class="btn btn-primary" id="btnLogout" type="submit" name="btnLogout" value="Log out">
            </form>
          </li>
            <li class="nav-item">
            <form action='/' method='GET'>
                <input class="btn btn-primary" id="btnHome" type="submit" name="btnHome" value="Home">
            </form>
          </li>
        </ul>
      </div>
    </nav>

<div id="title" class="d-flex justify-content-center">{{userName}}'s Messages</div>
<!--<div id="table" class="d-flex justify-content-center">{{ table }}</div>-->
<div id="allMes">
<div id="slideContainer"></div>
<div id="sendSec">
<form class="msger-inputarea" action="myMessages" method='POST'>
    <div><input type="text" name="sendTo" class="msger-input" id="sendToInput" placeholder="Send to"></div>
    <div><input type="text" name="mesText" class="msger-input" id="textInput" placeholder="Enter your message"></div>
    <div><button id="sendBtn" type="submit" onclick="clickAlert()" class="msger-send-btn btn btn-primary">Send</button></div>
</form>
    </div>

</div>

<script>

    //var results = ["slide 1", "slide 2", "slide 3", "slide 4", "slide 5"]
    var resultsRawMes = '{{resultsMes}}'
    var resultsRawTh = '{{resultsTh}}'
    var resultsSendRawMes = '{{resultsSendMes}}'
    var resultsSendRawTh = '{{resultsSendTh}}'
    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get("#slideContainer");

    var resultsMes = resultsRawMes.split(/&#39;|&#39;, |, | [ |]/);
    var resultsTh = resultsRawTh.split(/&#39;|&#39;, |, | [ |]/);
    var resultsSendMes = resultsSendRawMes.split(/&#39;|&#39;, |, | [ |]/);
    var resultsSendTh = resultsSendRawTh.split(/&#39;|&#39;, |, | [ |]/);
    var str = '<ul style="list-style-type: none;">'

    resultsMes.forEach(function(slide, index) {
        const ther = resultsTh[index];
        const sendMes = resultsSendMes[index];
        console.log(slide);
        console.log(sendMes);
        console.log("AAAAAAAAA");
        if((slide !== "[]" && slide !== "" && slide !== "[" && slide !== "]") && (sendMes !== "[]" && sendMes !== "" && sendMes !== "[" && sendMes !== "]"))
            str += '<li style="' +
                'background-color: #579ffb;' +
                'padding: 15px;' +
                'margin-bottom: 20px;' +
                'font-size: 25px;' +
                'width: fit-content;' +
                'border-radius: 15px 15px 15px 0px;">' +
                '<div id="therSender">' + ther + '</div>' + slide + '</li>' +
                '<li style="' +
                'background-color: #579ffb;' +
                'margin-left: 240px;' +
                'padding: 15px;' +
                'margin-bottom: 20px;' +
                'font-size: 25px;' +
                'width: fit-content;' +
                'border-radius: 15px 15px 0px 15px;">' +
                sendMes + '</li>';
    });

    str += '</ul>';
    document.getElementById("slideContainer").innerHTML = str;

    // msgerForm.addEventListener("submit", event => {
    //   event.preventDefault();
    //
    //   const msgText = msgerInput.value;
    //   if (!msgText) return;
    //   appendMessage("right", msgText);
    //   msgerInput.value = "";
    // });

    function appendMessage(side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-bubble">
    <div class="msg-text">${text}</div>
  </div>
</div>
`;
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;

    }

    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    var value = $('.msg-text').val();
$.ajax({
  type: 'POST',
  url: "{{ url_for('myMessages') }}",
  data: JSON.stringify(value),
  contentType: 'application/json',
  success: function(data){
    //console.log(data)
  }

});

function clickAlert() {
    alert("Message sent succesfully!");
    }

</script>

</body>
</html>