<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/myMessage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div id="title" class="d-flex justify-content-center">{{userName}}'s Messages</div>
<!--<div id="table" class="d-flex justify-content-center">{{ table }}</div>-->
<div class="d-flex justify-content-center">Last messages </div>
<div id="slideContainer"></div>

<form class="msger-inputarea" action="myMessages" method='POST'>
    <input type="text" name="sendTo" class="msger-input" id="sendToInput" placeholder="Send to">
  <input type="text" name="mesText" class="msger-input" id="textInput" placeholder="Enter your message">
  <button type="submit" class="msger-send-btn">Send</button>
</form>

<script>
    var resultsRawMes = '{{resultsMes}}'
    var resultsRawUser = '{{resultsUser}}'
    var userName = '{{userName}}'
    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get("#slideContainer");

    var resultsMes = resultsRawMes.split(/&#39;|&#39;, |, | [ |]/);
    var resultsUser = resultsRawUser.split(/&#39;|&#39;, |, | [ |]/);
    console.log(resultsRawMes)
    console.log(resultsMes)
    var str = '<ul style="list-style-type: none;">'

    resultsMes.forEach(function(slide, index) {
        const user = resultsUser[index];
        if(slide !== "" && slide !== "[" && slide !== "]")
            str += '<li style="' +
                'background-color: #fca4e2;' +
                'padding: 15px;' +
                'margin-bottom: 20px;' +
                'font-size: 25px;' +
                'width: fit-content;' +
                'border-radius: 15px 15px 15px 0px;">' +
                '<div id="therSender">' + user + '</div>' + slide + '</li>';
    });

    str += '</ul>';
    document.getElementById("slideContainer").innerHTML = str;

    // msgerForm.addEventListener("submit", event => {
    //   event.preventDefault();
    //
    //   const msgText = msgerInput.value;
    //   if (!msgText) return;
    //   appendMessage("right", msgText);
    //   msgerInput.value = "";
    // });

    function appendMessage(side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-bubble">
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;

    }

    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    var value = $('.msg-text').val();
$.ajax({
  type: 'POST',
  url: "{{ url_for('myMessages') }}",
  data: JSON.stringify(value),
  contentType: 'application/json',
  success: function(data){
    //console.log(data)
  }

});

</script>

</body>
</html>