<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/usersDetails.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
 <nav id="navBar" class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
                <div id="logo"></div>
          </li>
      <li class="nav-item">
        <form action='/' btnLogoutmethod='GET'>
            <input class="btn btn-primary" type="submit" id="btnHome" name="button" value="Home">
        </form>
      </li>
      <li class="nav-item">
        <form action='logout' btnLogoutmethod='GET'>
            <input class="btn btn-primary" type="submit" id="btnLogout" name="button" value="Log out">
        </form>
      </li>
    </ul>
  </div>
</nav>
<form id="allPage" method="POST">
    <div id="wrapper">
    <div id="allText">
      <div id="title" class="d-flex justify-content-center">{{userName}}'s details</div>
      <div class="d-flex justify-content-center">Main tag: {{mainTag}}</div>
      <div class="d-flex justify-content-center">Last login: {{lastLogin}}</div>
<!--      <div class="d-flex justify-content-center">Has notif: {{hasNotif}}</div>-->

    <div class="d-flex justify-content-center">
        <input class="btn btn-primary" id="pageBtn" type='submit' name = "button" value='See their page'/>
    </div>
    </div>
    <div id="texting">
      <div id="slideContainer"></div>

      <div class="field">
          <div id="writeMessage">
              <input class="input is-large" type="text" name="message" placeholder="Write the message" autofocus="">
          </div>
      </div>

      <div>
          <input onclick="clickAlert()" class="btn btn-primary" id="sendBtn" type='submit' name="button" value='Send'/>
      </div>
        </div>

    </div>
  </form>
<script>
    function clickAlert() {
    alert("Message sent succesfully!");
    }

    var resultsRawMes = '{{resultsMes}}'
    var resultsRawUser = '{{resultsUser}}'
    var resultsSendRawMes = '{{resultsSendMes}}'
    var resultsSendRawUser = '{{resultsSendUser}}'
    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get("#slideContainer");

    var resultsMes = resultsRawMes.split(/&#39;|&#39;, |, | [ |]/);
    var resultsUser = resultsRawUser.split(/&#39;|&#39;, |, | [ |]/);
    var resultsSendMes = resultsSendRawMes.split(/&#39;|&#39;, |, | [ |]/);
    var resultsSendUser = resultsSendRawUser.split(/&#39;|&#39;, |, | [ |]/);
    console.log(resultsMes)
    var str = '<ul style="list-style-type: none;">'

    console.log("aaaaa");

    resultsMes.forEach(function(slide, index) {
        const user = resultsUser[index];
        const sendUser = resultsSendUser[index];
        const sendMes = resultsSendMes[index]
        console.log(slide);
        console.log(sendMes);

        if((slide !== undefined && slide !== "" && slide !== "[" && slide !== "]") && (sendMes !== undefined && sendMes !== "" && sendMes !== "[" && sendMes !== "]"))
            str += '<li style="' +
                'background-color: #579ffb;' +
                'padding: 15px;' +
                'margin-bottom: 20px;' +
                'font-size: 25px;' +
                'width: fit-content;' +
                'border-radius: 15px 15px 15px 0px;">' +
                slide + '</li>' +
                '<li style="' +
                'background-color: #579ffb;' +
                'padding: 15px;' +
                'margin-left: 240px;' +
                'margin-bottom: 20px;' +
                'font-size: 25px;' +
                'width: fit-content;' +
                'border-radius: 15px 15px 0px 15px;">' +
                sendMes + '</li>';
    });

    str += '</ul>';
    document.getElementById("slideContainer").innerHTML = str;

    // msgerForm.addEventListener("submit", event => {
    //   event.preventDefault();
    //
    //   const msgText = msgerInput.value;
    //   if (!msgText) return;
    //   appendMessage("right", msgText);
    //   msgerInput.value = "";
    // });

    function appendMessage(side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-bubble">
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;

    }

    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    var value = $('.msg-text').val();
$.ajax({
  type: 'POST',
  url: "{{ url_for('myMessages') }}",
  data: JSON.stringify(value),
  contentType: 'application/json',
  success: function(data){
    //console.log(data)
  }

});

</script>
</body>
</html>