 body {
    background: linear-gradient(#ffedf9, #ffe0f5);
    background-repeat: no-repeat;
    min-height: 657px;
}

#navBar {
    background: #ffedf9;
}

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     background: #fff;
     border-width: 0;
     border-radius: .25rem;
     box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
     margin-bottom: 1.5rem
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(19, 24, 44, .125);
     border-radius: .25rem
 }

 .card-header {
     padding: .75rem 1.25rem;
     margin-bottom: 0;
     background-color: rgba(19, 24, 44, .03);
     border-bottom: 1px solid rgba(19, 24, 44, .125)
 }

 .card-header:first-child {
     border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
 }

 card-footer,
 .card-header {
     background-color: transparent;
     border-color: rgba(160, 175, 185, .15);
     background-clip: padding-box
 }

 .b4-test{
      /*padding:50px;*/
      width:500px;
      /*margin:50px auto;*/
      text-align:center;
}

 #title {
     font-size: 40px;
 }

 #userName {
     font-size: 30px;
 }

 #btnHome {
  font-weight: bold;
  margin: 10px;
  font-weight: bold;
  background-color: #c86071;
  color: white;
  cursor: pointer;
  transition: background 0.23s;
}

 #btnLogout {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  background-color: #c86071;
  color: white;
}

 #page-content {
     margin-left: -760px;
     margin-top: -50px;
 }

 #page-content2 {
     height: 350px;
 }

 #suicidalDiv {
     margin-left: 590px;
     margin-right: 20px;
     margin-top: -428px;
     border: 1px solid grey;
     padding: 25px;
     background-color: white;
     max-width: 400px;
     margin-bottom: 20px;
 }

 #anxietyDiv {
     margin-left: 590px;
     margin-right: 20px;
     border: 1px solid grey;
     padding: 25px;
     background-color: white;
     max-width: 400px;
     margin-bottom: 20px;
 }

 #panicDiv {
     margin-left: 590px;
     margin-right: 20px;
     border: 1px solid grey;
     padding: 25px;
     background-color: white;
     max-width: 400px;
 }

 #suicidalN {
     margin-top: 30px;
     margin-left: 90px;
     font-size: 20px;
 }

 #anxietyN{
     margin-top: 30px;
     margin-left: 182px;
     font-size: 20px;
 }

 #panicN {
     margin-top: 30px;
     margin-left: 200px;
     font-size: 20px;
 }

 #chart-line {
     margin-top: 55px;
     margin-left: -5px;
     width: 580px;
     height: auto;
 }

 #suicidalTag {
     font-size: 22px;
 }

  #anxietyTag {
     font-size: 22px;
 }

   #panicTag {
     font-size: 22px;
 }

