 body {
    background-image: url("back2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 640px;
     max-width: 1365px;
}

#navBar {
    background: transparent;
}

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     background: #fff;
     border-width: 0;
     border-radius: .25rem;
     box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
     margin-bottom: 1.5rem
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(19, 24, 44, .125);
     border-radius: .25rem
 }

 .card-header {
     padding: .75rem 1.25rem;
     margin-bottom: 0;
     background-color: rgba(19, 24, 44, .03);
     border-bottom: 1px solid rgba(19, 24, 44, .125)
 }

 .card-header:first-child {
     border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
 }

 card-footer,
 .card-header {
     background-color: transparent;
     border-color: rgba(160, 175, 185, .15);
     background-clip: padding-box
 }

 .b4-test{
      /*padding:50px;*/
      width:500px;
      /*margin:50px auto;*/
      text-align:center;
}

 #title {
     font-size: 40px;
     margin-bottom: 60px;
     margin-top: -22px;
 }

 #userName {
     font-size: 30px;
 }

 #logo {
    background-image: url("default-monochrome.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 239px;
    height: 94px;
    margin-left: 30px;
}

 #btnHome {
  font-weight: bold;
  margin: 10px;
  font-weight: bold;
  background-color: #2f3e64;
  color: white;
  cursor: pointer;
     margin-left: 890px;
  transition: background 0.23s;
}

 #btnLogout {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  background-color: #2f3e64;
  color: white;
}

 #page-content {
     margin-left: -760px;
     margin-top: -50px;
     /*float:left;*/
 }

 #firstCol {
     float: left;
     margin-left: 646px;
 }

 #secondCol {
     overflow: hidden;
     margin-left: 930px;
    margin-right: 175px;
 }

 #secondSide {
     margin-top: -400px;
 }

 #page-content2 {
     height: 350px;
 }

 #suicidalDiv {
     /*margin-left: 590px;*/
     /*margin-right: 20px;*/
     /*margin-top: -428px;*/
     border: 1px solid grey;
     padding: 50px;
     background-color: white;
     max-width: 400px;
     margin-bottom: 20px;
     height: 186px;
    width: 261px;
    background-color: rgba(0,0,0, 0.1);
 }

 #anxietyDiv {
     /*margin-left: 590px;*/
     /*margin-right: 20px;*/
     border: 1px solid grey;
     padding: 50px;
     background-color: white;
     max-width: 400px;
     margin-bottom: 20px;
     height: 186px;
    width: 261px;
    background-color: rgba(0,0,0, 0.1);
 }

 #panicDiv {
     /*margin-left: 590px;*/
     /*margin-right: 20px;*/
     border: 1px solid grey;
     padding: 50px;
     background-color: white;
     max-width: 400px;
     margin-bottom: 20px;
     background-color: rgba(0,0,0, 0.1);
 }

 #stressDiv {
     /*margin-left: 590px;*/
     /*margin-right: 20px;*/
     border: 1px solid grey;
     padding: 50px;
     background-color: white;
     max-width: 400px;
     background-color: rgba(0,0,0, 0.1);
 }

 #suicidalN {
     /*margin-top: 30px;*/
     /*margin-left: 90px;*/
     font-size: 30px;
 }

 #anxietyN{
     /*margin-top: 30px;*/
     /*margin-left: 182px;*/
     font-size: 30px;
 }

 #panicN {
     /*margin-top: 30px;*/
     /*margin-left: 200px;*/
     font-size: 30px;
 }

 #stressN {
     /*margin-top: 30px;*/
     /*margin-left: 200px;*/
     font-size: 30px;
 }

 #chart-line {
     margin-top: 55px;
     margin-left: -5px;
     width: 580px;
     height: auto;
 }

 #suicidalTag {
     font-size: 30px;
     width: 130px;
 }

  #anxietyTag {
     font-size: 30px;
 }

   #panicTag {
     font-size: 30px;
 }

   #stressTag {
     font-size: 30px;
 }

