body {
    background-image: url("back2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 657px;
}

#navbar {
    background-color: transparent;
}

#logo {
    background-image: url("default-monochrome.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 239px;
    height: 94px;
    margin-left: 30px;
}

#allLogin {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#title {
    margin-bottom: 60px;
}

#emailDiv {
}

#passwordDiv {
    margin-bottom: 40px;
}

#userBtn {
    margin-bottom: 20px;
    background-color: #2f3e64;
    color: white;
}

#therBtn {
    margin-bottom: 20px;
    background-color: #2f3e64;
    color: white;
}

#btnHome {
    margin-left: 900px;
    background-color: #2f3e64;
}

#btnSignup {
    /*margin-right: 10px;*/
    margin-left: 20px;
    background-color: #2f3e64;
}
