 body {
    background-image: url("back2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 657px;
}

#navBar {
    background: transparent;
}

#logo {
    background-image: url("default-monochrome.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 239px;
    height: 94px;
    margin-left: 30px;
}

#btnHome {
  font-weight: bold;
  margin: 10px;
  font-weight: bold;
  background-color: #2f3e64;
  color: white;
  cursor: pointer;
  transition: background 0.23s;
}

 #btnLogout {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  background-color: #2f3e64;
  color: white;
     margin-left: 900px;
}

 #sendBtn {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  background-color: #2f3e64;
  color: white;
}

 #title {
     font-size: 50px;
     text-align-last: center;
 }

 .msg-text {
     background-color: #fff;
     padding: 15px;
     margin-bottom: 20px;
     font-size: 25px;
     width: fit-content;
     border-radius: 15px 15px 0px 15px;
 }

 #allMes {
     margin-left: 120px;
     margin-top: 50px;
 }

 #sendSec {
     margin-left: 31px;
 }