 body {
    background: linear-gradient(#ffedf9, #ffe0f5);
    background-repeat: no-repeat;
    min-height: 657px;
}

#navBar {
    background: #ffedf9;
}

#btnHome {
  font-weight: bold;
  margin: 10px;
  font-weight: bold;
  background-color: #c86071;
  color: white;
  cursor: pointer;
  transition: background 0.23s;
}

 #btnLogout {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  background-color: #c86071;
  color: white;
}

 #title {
     font-size: 50px;
     text-align-last: center;
 }

 .msg-text {
     background-color: #fca4e2;
     padding: 15px;
     margin-bottom: 20px;
     font-size: 25px;
     width: fit-content;
     border-radius: 15px 15px 0px 15px;
 }