body {
    background-image: url("back2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 657px;
}

#allSignup {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#title {
    margin-bottom: 60px;
}

#email {

}

#name {
}

#password {
}

#type {
    margin-bottom: 20px;
}

#signup {
    margin-bottom: 20px;
    background-color: #2f3e64;
    color: white;
}

#logo {
    background-image: url("default-monochrome.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 239px;
    height: 94px;
    margin-left: 30px;
    margin-top: 8px;
}