body {
    background: linear-gradient(#ffedf9, #ffe0f5);
    background-repeat: no-repeat;
    min-height: 657px;
}

#navBar {
    background: #ffedf9;
}

#btnHome {
  font-weight: bold;
  margin: 10px;
  font-weight: bold;
  background-color: #c86071;
  color: white;
  cursor: pointer;
  transition: background 0.23s;
}

 #btnLogout {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  background-color: #c86071;
  color: white;
}

  #detailsBtn {
     font-weight: bold;
  margin: 10px;
  font-weight: bold;
  background-color: #c86071;
  color: white;
  cursor: pointer;
  transition: background 0.23s;
 }

 #therName {
     font-size: 50px;
 }

 #table {
     margin: 30px;
     margin-top: 50px;
 }

 #btnHome {
     font-weight: bold;
  margin: 10px;
  font-weight: bold;
  background-color: #c86071;
  color: white;
  cursor: pointer;
  transition: background 0.23s;
 }

 #btnLogout {
     font-weight: bold;
  margin: 10px;
  font-weight: bold;
  background-color: #c86071;
  color: white;
  cursor: pointer;
  transition: background 0.23s;
 }